@model List<NetflixClone.Models.movie>

<ul class="favorites-slider list-inline row p-0 mb-0">
    @foreach (var movie in Model)
    {
        if (movie.tags.Equals("topRated"))
        {
            <!-- slide item 1 -->
            <li class="slide-item">
                <div class="block-images position-relative">
                    <div class="img-box">
                        @{
                            string path = "https://image.tmdb.org/t/p/w500/";
                        }
                        <img src="@Url.Content(path + movie.backdropPath)" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                        <h6 class="iq-title">
                            <a href="#">@movie.movieName </a>
                        </h6>
                        <div class="movie-time d-flex align-items-center my-2">
                            <div class="badge badge-secondary p-1 mr-2">16+</div>
                            <span class="text-white">@movie.runtime min</span>
                        </div>
                        <div class="hover-buttons">
                            <span class="btn btn-hover iq-button">
                                <i class="fa fa-play mr-1"></i>
                                Play Now
                            </span>
                        </div>
                    </div>
                    <div class="block-social-info">
                        <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="fa fa-share-alt"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="fa fa-heart"></i></span>
                                <span class="count-box">19+</span>
                            </li>
                            <li>
                                <span><i class="fa fa-plus"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }

    }
</ul>

