*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: black; 
}
.container{
    display: flex;
    margin: 5px;
}

.head img{
    position: relative;
    width: 11%;
    z-index: 1;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -14px;
}
.home-image{
    background-image: url(assests/hoome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    position: relative;
    filter: brightness();
}
.home-image-text{
    color: aliceblue;
    position: relative;
    width: 40%;
    top: 13em;
    left: 3em;
    z-index: 1;
}

.home-image-text p {
    margin-bottom: 20px;
    text-align: justify;
    margin-right: 82px;
}

.money{
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}


.play-btn{
    position: relative;
    text-decoration: none;
    background-color: red;
    color: black;
    border-radius: 4px;
    padding: 8px 15px 7px;
    font-size: 18px;
    font-weight: bold;
    transition: all ease 0.3s;
}

.play-btn:hover {
    filter: brightness(80%);
}

.play-btn span {
    text-align: center;
    margin-left: 32px;
}

.play-btn img{
    left: 18%;
    width: 24px;
    position: absolute;
    top: 16%;
}


/* netflix original and top rated */
.original .original2{
    color: aliceblue;
    padding-left: 0px;

}
.original h3, .original2 h3{
    margin-top: 10px;
}
.original .no-title, .original2 .no-title{
    margin-top: 35px;
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 6px;
}

.original1 .no-title {
    margin-top: 56px;
    margin-bottom: 20px;
}

.original .no, .original2 .no, .original1 .no {
    display: flex;
    height: 36vh;
    /* padding-top: 2px; */
    /* margin-left: 0px; */
    margin-bottom: -50px;
    overflow-y: hidden;
}

.original .no a, .original2 .no a , .original1 .no a{
    text-decoration: none;
}

.original .no img, .original2 .no img, .original1 .no img{
    width: 240px;
    height: 240px;
    padding: 4px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.original .no img:hover, .original2 .no img:hover, .original1 .no img:hover{
    transition-delay: 0.1s;
}

.original, .original2 , .original1{
    position: relative;
}

.original-details {
    border-radius: 10px;
    position: absolute;
    top: 0;
    margin-left: -2.5%;
    width: 330px;
    height: 111%;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0.8);
    visibility: hidden;
    transition: all ease-in 0.7s;
    z-index: 1;
}

.original a:first-child .original-details, .original2 a:first-child .original-details, .original1 a:first-child .original-details {
    border-radius: 10px;
    position: absolute;
    top: 0;
    margin-left: 1%;
    width: 330px;
    height: 111%;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0.8);
    visibility: hidden;
    transition: all ease-in 0.7s;
}

.original .no a:hover .original-details, .original2 .no a:hover .original-details, .original1 .no a:hover .original-details{
    transform: scale(1.1);
    visibility: visible;
}

.details-video {
    position: relative;
}

.details-video video {
    position: absolute;
    width: 100%;
}

.details-info { 
    position: absolute;
    width: 100%;
    top: 57%;
    background-color: #181818;
}

.details-icon {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}


.icon-v, .icon-check, .icon-down {
    width: 16px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 100%;
    padding: 6px;
    color: #fff;
    margin-right: 4px;
}

.icon-v {
    background-color: #fff;
    color: #333;
    border: 2px solid #fff;
}

.details-more {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

.details-more span {
    color: #bcbcbc;
    margin-right: 12px;
}

.details-category {
    padding: 16px 16px 32px 16px;
    color: #fff;
    font-weight: bold;
}

.more-one {
    border: 1px solid #bcbcbc;
    padding: 2px 8px;
    font-size: 14px;
}

.more-hd {
    font-size: 10px;
    border: 1px solid #bcbcbc;
    padding: 4px 8px;
    border-radius: 4px;
}

html{
    overflow:scroll;
    overflow-x:hidden;
}
::-webkit-scrollbar{
    width: 2px;
    background: transparent;
}
/* comedy and romatic movies */
.original1{
    color: aliceblue;
    padding-left: 0px;

}
.original1 h3{
    margin-top: 10px;
}
.original1 .no-title{
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 6px;

}
.original1 .no{
    display: flex;
    height: 29vh;
    padding-top: 2px;
    margin-left: 0px;
    margin-bottom: -50px;
    overflow-y: hidden;   
}

.original1 .no a {
    text-decoration: none;
}

.original1 .no img{
    width: 160px;
    height: 190px;
    padding: 4px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.original1 .no img:hover{
    transition-delay: 0.1s;
}
