USE [movieweb]
GO
/****** Object:  Table [movieweb].[seasons]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[seasons](
	[seasonID] [int] NOT NULL,
	[seasonName] [nvarchar](100) NULL,
	[seasonNumber] [int] NULL,
	[overview] [nvarchar](max) NULL,
	[posterPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[serieID] [int] NULL,
 CONSTRAINT [PK_seasons_seasonID] PRIMARY KEY CLUSTERED 
(
	[seasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [movieweb].[seasons] ([seasonID], [seasonName], [seasonNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [serieID]) VALUES (0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [movieweb].[seasons] ([seasonID], [seasonName], [seasonNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [serieID]) VALUES (785, N'Book One: Water', 1, N'Katara and Sokka (a brother and sister from the Southern Water Tribe) discover the Avatar (a 12-year-old Airbender boy named Aang) frozen in an iceberg. Together the three begin their journey to the North Pole to find a master waterbender so Aang can begin his Avatar training!', N'/tUG6h0rMtQyOgvqI8r9AqxlKoUP.jpg', NULL, 7.6, NULL, 246)
GO
/****** Object:  Index [serie_season_idx]    Script Date: 5/15/2024 10:58:41 AM ******/
CREATE NONCLUSTERED INDEX [serie_season_idx] ON [movieweb].[seasons]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [seasonName]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [seasonNumber]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [serieID]
GO
ALTER TABLE [movieweb].[seasons]  WITH CHECK ADD  CONSTRAINT [FK_seasons_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[seasons] CHECK CONSTRAINT [FK_seasons_series]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.seasons' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'seasons'
GO
