USE [movieweb]
GO
/****** Object:  Table [movieweb].[genre]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[genre](
	[genreID] [int] NOT NULL,
	[genreName] [nvarchar](45) NULL,
 CONSTRAINT [PK_genre_genreID] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (12, N'Adventure')
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (14, N'Fantasy')
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (16, N'Animation')
GO
ALTER TABLE [movieweb].[genre] ADD  DEFAULT (NULL) FOR [genreName]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.genre' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'genre'
GO
