USE [movieweb]
GO
/****** Object:  Table [movieweb].[actors]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[actors](
	[actorID] [int] NOT NULL,
	[actorName] [nvarchar](45) NULL,
	[birthday] [datetime2](0) NULL,
	[gender] [nvarchar](10) NULL,
	[placeOfBirth] [nvarchar](45) NULL,
	[biography] [nvarchar](max) NULL,
	[knownForDepartment] [nvarchar](45) NULL,
	[popularity] [decimal](10, 2) NULL,
	[profilePath] [nvarchar](45) NULL,
	[imdbID] [nvarchar](10) NULL,
	[originalName] [nvarchar](45) NULL,
 CONSTRAINT [PK_actors_actorID] PRIMARY KEY CLUSTERED 
(
	[actorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (1, N'George Lucas', NULL, N'2', N'NULL', N'NULL', N'Directing', CAST(61.08 AS Decimal(10, 2)), N'/WCSZzWdtPmdRxH9LUCVi2JPCSJ.jpg', N'NULL', N'George Lucas')
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (2, N'Mark Hamill', NULL, N'2', N'NULL', N'NULL', N'Acting', CAST(44.10 AS Decimal(10, 2)), N'/zMQ93JTLW8KxusKhOlHFZhih3YQ.jpg', N'NULL', N'Mark Hamill')
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (3, N'Harrison Ford', NULL, N'2', N'NULL', N'NULL', N'Acting', CAST(68.32 AS Decimal(10, 2)), N'/zVnHagUvXkR2StdOtquEwsiwSVt.jpg', N'NULL', N'Harrison Ford')
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [actorName]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [birthday]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [gender]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [placeOfBirth]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [knownForDepartment]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [profilePath]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [imdbID]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [originalName]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.actors' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'actors'
GO
