USE [movieweb]
GO
/****** Object:  Table [movieweb].[episodes]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[episodes](
	[episodeID] [int] NOT NULL,
	[episodeName] [nvarchar](45) NULL,
	[episodeNumber] [int] NULL,
	[overview] [nvarchar](max) NULL,
	[posterPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[runtime] [int] NULL,
	[seasonID] [int] NULL,
	[serieID] [int] NULL,
 CONSTRAINT [PK_episodes_episodeID] PRIMARY KEY CLUSTERED 
(
	[episodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [movieweb].[episodes] ([episodeID], [episodeName], [episodeNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [runtime], [seasonID], [serieID]) VALUES (13535, N'The Boy in the Iceberg', 1, N'Two teenage siblings (Sokka and Katara) living in the South Pole discover a very strange boy (Aang), along with his pet flying bison Appa, in an iceberg. But can they trust him when he accidentally draws the war to their village''s doorstep?', N'/cjo9ipGyKvY0j024I0iqhVhfN34.jpg', NULL, 7.465, 44, 24, 0, 246)
INSERT [movieweb].[episodes] ([episodeID], [episodeName], [episodeNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [runtime], [seasonID], [serieID]) VALUES (13536, N'The Avatar Returns', 2, N'Katara and Sokka discover that Aang is the long-lost Avatar and must rescue him when a Firebending prince named Zuko kidnaps him.', N'/zGktHJTiPypAqJd0yG3EVoznxqE.jpg', NULL, 7.556, 36, 24, 0, 246)
GO
/****** Object:  Index [ep_season_idx]    Script Date: 5/15/2024 10:58:41 AM ******/
CREATE NONCLUSTERED INDEX [ep_season_idx] ON [movieweb].[episodes]
(
	[seasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ep_serie_idx]    Script Date: 5/15/2024 10:58:41 AM ******/
CREATE NONCLUSTERED INDEX [ep_serie_idx] ON [movieweb].[episodes]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [episodeName]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [episodeNumber]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [seasonID]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [serieID]
GO
ALTER TABLE [movieweb].[episodes]  WITH CHECK ADD  CONSTRAINT [FK_episodes_seasons] FOREIGN KEY([seasonID])
REFERENCES [movieweb].[seasons] ([seasonID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[episodes] CHECK CONSTRAINT [FK_episodes_seasons]
GO
ALTER TABLE [movieweb].[episodes]  WITH CHECK ADD  CONSTRAINT [FK_episodes_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
GO
ALTER TABLE [movieweb].[episodes] CHECK CONSTRAINT [FK_episodes_series]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.episodes' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'episodes'
GO
