USE [movieweb]
GO
/****** Object:  Table [movieweb].[genres_movies]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[genres_movies](
	[genreID] [int] NOT NULL,
	[movieID] [int] NOT NULL,
 CONSTRAINT [PK_genres_movies_genreID] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC,
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (18, 13)
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (35, 13)
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (10749, 13)
GO
/****** Object:  Index [movieID_idx]    Script Date: 5/15/2024 10:58:41 AM ******/
CREATE NONCLUSTERED INDEX [movieID_idx] ON [movieweb].[genres_movies]
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [movieweb].[genres_movies]  WITH CHECK ADD  CONSTRAINT [FK_genres_movies_genre] FOREIGN KEY([genreID])
REFERENCES [movieweb].[genre] ([genreID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_movies] CHECK CONSTRAINT [FK_genres_movies_genre]
GO
ALTER TABLE [movieweb].[genres_movies]  WITH CHECK ADD  CONSTRAINT [FK_genres_movies_movie] FOREIGN KEY([movieID])
REFERENCES [movieweb].[movie] ([movieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_movies] CHECK CONSTRAINT [FK_genres_movies_movie]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.genres_movies' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'genres_movies'
GO
