USE [movieweb]
GO
/****** Object:  Table [movieweb].[series]    Script Date: 5/15/2024 10:58:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[series](
	[serieID] [int] NOT NULL,
	[serieName] [nvarchar](45) NULL,
	[originalSerieName] [nvarchar](45) NULL,
	[firstAirDate] [nvarchar](45) NULL,
	[lastAirDate] [nvarchar](45) NULL,
	[status] [nvarchar](45) NULL,
	[tagline] [nvarchar](100) NULL,
	[overview] [nvarchar](max) NULL,
	[homepage] [nvarchar](100) NULL,
	[popularity] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[posterPath] [nvarchar](45) NULL,
	[backdropPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[numberOfSeasons] [int] NULL,
	[numberOfEpisodes] [int] NULL,
	[runtime] [nvarchar](45) NULL,
	[originalLanguage] [nvarchar](45) NULL,
	[type] [nvarchar](45) NULL,
	[tags] [nvarchar](45) NULL,
	[adult] [nvarchar](45) NULL,
	[genreID] [nvarchar](45) NULL,
 CONSTRAINT [PK_series_serieID] PRIMARY KEY CLUSTERED 
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__serieNam__10566F31]  DEFAULT (NULL) FOR [serieName]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__original__114A936A]  DEFAULT (NULL) FOR [originalSerieName]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__firstAir__123EB7A3]  DEFAULT (NULL) FOR [firstAirDate]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__lastAirD__1332DBDC]  DEFAULT (NULL) FOR [lastAirDate]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__status__14270015]  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__tagline__151B244E]  DEFAULT (NULL) FOR [tagline]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__homepage__160F4887]  DEFAULT (NULL) FOR [homepage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__populari__17036CC0]  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__voteAver__17F790F9]  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__voteCoun__18EBB532]  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__posterPa__19DFD96B]  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__backdrop__1AD3FDA4]  DEFAULT (NULL) FOR [backdropPath]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__trailer__1BC821DD]  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__numberOf__1CBC4616]  DEFAULT (NULL) FOR [numberOfSeasons]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__numberOf__1DB06A4F]  DEFAULT (NULL) FOR [numberOfEpisodes]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__runtime__1EA48E88]  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__original__1F98B2C1]  DEFAULT (NULL) FOR [originalLanguage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__type__208CD6FA]  DEFAULT (NULL) FOR [type]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__tags__2180FB33]  DEFAULT (NULL) FOR [tags]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__adult__22751F6C]  DEFAULT (NULL) FOR [adult]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__genreID__236943A5]  DEFAULT (NULL) FOR [genreID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.series' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'series'
GO
