@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    font-family: 'Calibri', sans-serif !important;
}

.custom-card-no-border .custom-card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    color: #d1d0cf;
}

.custom-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.custom-comment-row:hover {
    background: rgba(120, 130, 140, 0.13);
    cursor: pointer;
}

.custom-comment-widgets .custom-comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}
.custom-comment-text {
    color: #d1d0cf;
}
.custom-comment-text:hover {
    visibility: hidden;
}

.custom-comment-text:hover {
    visibility: visible;
}

.custom-label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.custom-round img {
    border-radius: 100%;
}

.custom-label-info {
    background-color: #1976d2;
}

.custom-label-success {
    background-color: green;
}

.custom-label-danger {
    background-color: #ef5350;
}

.custom-action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

    .custom-action-icons a:hover {
        color: #1976d2;
    }

.custom-mt-100 {
    margin-top: 100px
}

.custom-mb-100 {
    margin-bottom: 100px
}

.cmt_ip {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 16px 20px 0 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #ffffff;
}


