USE [master]
GO
/****** Object:  Database [movieweb]    Script Date: 5/8/2024 1:29:34 PM ******/
CREATE DATABASE [movieweb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movieweb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\movieweb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movieweb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\movieweb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movieweb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movieweb]
GO
/****** Object:  Schema [movieweb]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE SCHEMA [movieweb]
GO
/****** Object:  Table [movieweb].[actors]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[actors](
	[actorID] [int] NOT NULL,
	[actorName] [nvarchar](45) NULL,
	[birthday] [datetime2](0) NULL,
	[gender] [nvarchar](10) NULL,
	[placeOfBirth] [nvarchar](45) NULL,
	[biography] [nvarchar](max) NULL,
	[knownForDepartment] [nvarchar](45) NULL,
	[popularity] [decimal](10, 2) NULL,
	[profilePath] [nvarchar](45) NULL,
	[imdbID] [nvarchar](10) NULL,
	[originalName] [nvarchar](45) NULL,
 CONSTRAINT [PK_actors_actorID] PRIMARY KEY CLUSTERED 
(
	[actorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[actors_movies]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[actors_movies](
	[actorID] [int] NOT NULL,
	[movieID] [int] NOT NULL,
 CONSTRAINT [PK_actors_movies_actorID] PRIMARY KEY CLUSTERED 
(
	[actorID] ASC,
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[actors_series]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[actors_series](
	[actorID] [int] NOT NULL,
	[serieID] [int] NOT NULL,
 CONSTRAINT [PK_actors_series_actorID] PRIMARY KEY CLUSTERED 
(
	[actorID] ASC,
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[episodes]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[episodes](
	[episodeID] [int] NOT NULL,
	[episodeName] [nvarchar](45) NULL,
	[episodeNumber] [int] NULL,
	[overview] [nvarchar](max) NULL,
	[posterPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[runtime] [int] NULL,
	[seasonID] [int] NULL,
	[serieID] [int] NULL,
 CONSTRAINT [PK_episodes_episodeID] PRIMARY KEY CLUSTERED 
(
	[episodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[genre]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[genre](
	[genreID] [int] NOT NULL,
	[genreName] [nvarchar](45) NULL,
 CONSTRAINT [PK_genre_genreID] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[genres_movies]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[genres_movies](
	[genreID] [int] NOT NULL,
	[movieID] [int] NOT NULL,
 CONSTRAINT [PK_genres_movies_genreID] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC,
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[genres_series]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[genres_series](
	[genreID] [int] NOT NULL,
	[serieID] [int] NOT NULL,
 CONSTRAINT [PK_genres_series_genreID] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC,
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[list_watchlist]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[list_watchlist](
	[watchlistID] [int] NOT NULL,
	[movieID] [int] NOT NULL,
	[serieID] [int] NOT NULL,
 CONSTRAINT [PK_list_watchlist_watchlistID] PRIMARY KEY CLUSTERED 
(
	[watchlistID] ASC,
	[movieID] ASC,
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[movie]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[movie](
	[movieID] [int] NOT NULL,
	[movieName] [nvarchar](45) NULL,
	[originalMovieName] [nvarchar](45) NULL,
	[releaseDate] [nvarchar](45) NULL,
	[status] [nvarchar](45) NULL,
	[tagline] [nvarchar](100) NULL,
	[overview] [nvarchar](max) NULL,
	[homepage] [nvarchar](100) NULL,
	[popularity] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[budget] [int] NULL,
	[revenue] [int] NULL,
	[posterPath] [nvarchar](45) NULL,
	[backdropPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[runtime] [int] NULL,
	[originalLanguage] [nvarchar](45) NULL,
	[tags] [nvarchar](45) NULL,
	[adult] [nvarchar](45) NULL,
	[genreID] [int] NULL,
 CONSTRAINT [PK_movie_movieID] PRIMARY KEY CLUSTERED 
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[reviews]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[reviews](
	[reviewID] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[rating] [real] NULL,
	[timestamp] [nvarchar](45) NULL,
	[movieID] [int] NULL,
	[serieID] [int] NULL,
	[userID] [int] NULL,
 CONSTRAINT [PK_reviews_reviewID] PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[seasons]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[seasons](
	[seasonID] [int] NOT NULL,
	[seasonName] [nvarchar](100) NULL,
	[seasonNumber] [int] NULL,
	[overview] [nvarchar](max) NULL,
	[posterPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[serieID] [int] NULL,
 CONSTRAINT [PK_seasons_seasonID] PRIMARY KEY CLUSTERED 
(
	[seasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[series]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[series](
	[serieID] [int] NOT NULL,
	[serieName] [nvarchar](45) NULL,
	[originalSerieName] [nvarchar](45) NULL,
	[firstAirDate] [nvarchar](45) NULL,
	[lastAirDate] [nvarchar](45) NULL,
	[status] [nvarchar](45) NULL,
	[tagline] [nvarchar](100) NULL,
	[overview] [nvarchar](max) NULL,
	[homepage] [nvarchar](100) NULL,
	[popularity] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[posterPath] [nvarchar](45) NULL,
	[backdropPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[numberOfSeasons] [int] NULL,
	[numberOfEpisodes] [int] NULL,
	[runtime] [nvarchar](45) NULL,
	[originalLanguage] [nvarchar](45) NULL,
	[type] [nvarchar](45) NULL,
	[tags] [nvarchar](45) NULL,
	[adult] [nvarchar](45) NULL,
	[genreID] [nvarchar](45) NULL,
 CONSTRAINT [PK_series_serieID] PRIMARY KEY CLUSTERED 
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[users]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[users](
	[userID] [int] NOT NULL,
	[userName] [varchar](max) NULL,
	[password] [varbinary](max) NOT NULL,
	[fullName] [nvarchar](45) NULL,
	[birthday] [datetime2](0) NULL,
	[gender] [int] NULL,
	[profileImage] [nvarchar](45) NULL,
	[email] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_users_userID] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [movieweb].[watchlists]    Script Date: 5/8/2024 1:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[watchlists](
	[watchlistID] [int] NOT NULL,
	[watchlistName] [nvarchar](45) NULL,
	[userID] [int] NULL,
 CONSTRAINT [PK_watchlists_watchlistID] PRIMARY KEY CLUSTERED 
(
	[watchlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (1, N'George Lucas', NULL, N'2', N'NULL', N'NULL', N'Directing', CAST(61.08 AS Decimal(10, 2)), N'/WCSZzWdtPmdRxH9LUCVi2JPCSJ.jpg', N'NULL', N'George Lucas')
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (2, N'Mark Hamill', NULL, N'2', N'NULL', N'NULL', N'Acting', CAST(44.10 AS Decimal(10, 2)), N'/zMQ93JTLW8KxusKhOlHFZhih3YQ.jpg', N'NULL', N'Mark Hamill')
INSERT [movieweb].[actors] ([actorID], [actorName], [birthday], [gender], [placeOfBirth], [biography], [knownForDepartment], [popularity], [profilePath], [imdbID], [originalName]) VALUES (3, N'Harrison Ford', NULL, N'2', N'NULL', N'NULL', N'Acting', CAST(68.32 AS Decimal(10, 2)), N'/zVnHagUvXkR2StdOtquEwsiwSVt.jpg', N'NULL', N'Harrison Ford')
GO
INSERT [movieweb].[episodes] ([episodeID], [episodeName], [episodeNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [runtime], [seasonID], [serieID]) VALUES (13535, N'The Boy in the Iceberg', 1, N'Two teenage siblings (Sokka and Katara) living in the South Pole discover a very strange boy (Aang), along with his pet flying bison Appa, in an iceberg. But can they trust him when he accidentally draws the war to their village''s doorstep?', N'/cjo9ipGyKvY0j024I0iqhVhfN34.jpg', NULL, 7.465, 44, 24, 0, 246)
INSERT [movieweb].[episodes] ([episodeID], [episodeName], [episodeNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [runtime], [seasonID], [serieID]) VALUES (13536, N'The Avatar Returns', 2, N'Katara and Sokka discover that Aang is the long-lost Avatar and must rescue him when a Firebending prince named Zuko kidnaps him.', N'/zGktHJTiPypAqJd0yG3EVoznxqE.jpg', NULL, 7.556, 36, 24, 0, 246)
GO
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (12, N'Adventure')
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (14, N'Fantasy')
INSERT [movieweb].[genre] ([genreID], [genreName]) VALUES (16, N'Animation')
GO
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (18, 13)
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (35, 13)
INSERT [movieweb].[genres_movies] ([genreID], [movieID]) VALUES (10749, 13)
GO
INSERT [movieweb].[genres_series] ([genreID], [serieID]) VALUES (16, 246)
INSERT [movieweb].[genres_series] ([genreID], [serieID]) VALUES (10759, 246)
INSERT [movieweb].[genres_series] ([genreID], [serieID]) VALUES (10765, 246)
GO
INSERT [movieweb].[seasons] ([seasonID], [seasonName], [seasonNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [serieID]) VALUES (0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [movieweb].[seasons] ([seasonID], [seasonName], [seasonNumber], [overview], [posterPath], [trailer], [voteAverage], [voteCount], [serieID]) VALUES (785, N'Book One: Water', 1, N'Katara and Sokka (a brother and sister from the Southern Water Tribe) discover the Avatar (a 12-year-old Airbender boy named Aang) frozen in an iceberg. Together the three begin their journey to the North Pole to find a master waterbender so Aang can begin his Avatar training!', N'/tUG6h0rMtQyOgvqI8r9AqxlKoUP.jpg', NULL, 7.6, NULL, 246)
GO
/****** Object:  Index [movieID_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [movieID_idx] ON [movieweb].[actors_movies]
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [serieID_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [serieID_idx] ON [movieweb].[actors_series]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ep_season_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [ep_season_idx] ON [movieweb].[episodes]
(
	[seasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ep_serie_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [ep_serie_idx] ON [movieweb].[episodes]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [movieID_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [movieID_idx] ON [movieweb].[genres_movies]
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [serieID_genre_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [serieID_genre_idx] ON [movieweb].[genres_series]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [wtchlist_movie_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [wtchlist_movie_idx] ON [movieweb].[list_watchlist]
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [wtchlist_serie_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [wtchlist_serie_idx] ON [movieweb].[list_watchlist]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [movieReview_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [movieReview_idx] ON [movieweb].[reviews]
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [serieReview_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [serieReview_idx] ON [movieweb].[reviews]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [userReview_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [userReview_idx] ON [movieweb].[reviews]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [serie_season_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [serie_season_idx] ON [movieweb].[seasons]
(
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [wlist_user_idx]    Script Date: 5/8/2024 1:29:35 PM ******/
CREATE NONCLUSTERED INDEX [wlist_user_idx] ON [movieweb].[watchlists]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [actorName]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [birthday]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [gender]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [placeOfBirth]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [knownForDepartment]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [profilePath]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [imdbID]
GO
ALTER TABLE [movieweb].[actors] ADD  DEFAULT (NULL) FOR [originalName]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [episodeName]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [episodeNumber]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [seasonID]
GO
ALTER TABLE [movieweb].[episodes] ADD  DEFAULT (NULL) FOR [serieID]
GO
ALTER TABLE [movieweb].[genre] ADD  DEFAULT (NULL) FOR [genreName]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF_movie_movieID]  DEFAULT ((0)) FOR [movieID]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__movieName__72C60C4A]  DEFAULT (NULL) FOR [movieName]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__originalM__73BA3083]  DEFAULT (NULL) FOR [originalMovieName]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__releaseDa__74AE54BC]  DEFAULT (NULL) FOR [releaseDate]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__status__75A278F5]  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__tagline__76969D2E]  DEFAULT (NULL) FOR [tagline]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__homepage__778AC167]  DEFAULT (NULL) FOR [homepage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__popularit__787EE5A0]  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__voteAvera__797309D9]  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__voteCount__7A672E12]  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__budget__7B5B524B]  DEFAULT (NULL) FOR [budget]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__revenue__7C4F7684]  DEFAULT (NULL) FOR [revenue]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__posterPat__7D439ABD]  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__backdropP__7E37BEF6]  DEFAULT (NULL) FOR [backdropPath]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__trailer__7F2BE32F]  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__runtime__00200768]  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__originalL__01142BA1]  DEFAULT (NULL) FOR [originalLanguage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__tags__02084FDA]  DEFAULT (NULL) FOR [tags]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__adult__02FC7413]  DEFAULT (NULL) FOR [adult]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__genreID__03F0984C]  DEFAULT (NULL) FOR [genreID]
GO
ALTER TABLE [movieweb].[reviews] ADD  DEFAULT (NULL) FOR [rating]
GO
ALTER TABLE [movieweb].[reviews] ADD  DEFAULT (NULL) FOR [timestamp]
GO
ALTER TABLE [movieweb].[reviews] ADD  DEFAULT ((0)) FOR [movieID]
GO
ALTER TABLE [movieweb].[reviews] ADD  DEFAULT ((0)) FOR [serieID]
GO
ALTER TABLE [movieweb].[reviews] ADD  DEFAULT ((0)) FOR [userID]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [seasonName]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [seasonNumber]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[seasons] ADD  DEFAULT (NULL) FOR [serieID]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__serieNam__10566F31]  DEFAULT (NULL) FOR [serieName]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__original__114A936A]  DEFAULT (NULL) FOR [originalSerieName]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__firstAir__123EB7A3]  DEFAULT (NULL) FOR [firstAirDate]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__lastAirD__1332DBDC]  DEFAULT (NULL) FOR [lastAirDate]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__status__14270015]  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__tagline__151B244E]  DEFAULT (NULL) FOR [tagline]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__homepage__160F4887]  DEFAULT (NULL) FOR [homepage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__populari__17036CC0]  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__voteAver__17F790F9]  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__voteCoun__18EBB532]  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__posterPa__19DFD96B]  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__backdrop__1AD3FDA4]  DEFAULT (NULL) FOR [backdropPath]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__trailer__1BC821DD]  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__numberOf__1CBC4616]  DEFAULT (NULL) FOR [numberOfSeasons]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__numberOf__1DB06A4F]  DEFAULT (NULL) FOR [numberOfEpisodes]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__runtime__1EA48E88]  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__original__1F98B2C1]  DEFAULT (NULL) FOR [originalLanguage]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__type__208CD6FA]  DEFAULT (NULL) FOR [type]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__tags__2180FB33]  DEFAULT (NULL) FOR [tags]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__adult__22751F6C]  DEFAULT (NULL) FOR [adult]
GO
ALTER TABLE [movieweb].[series] ADD  CONSTRAINT [DF__series__genreID__236943A5]  DEFAULT (NULL) FOR [genreID]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__userName__245D67DE]  DEFAULT (NULL) FOR [userName]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__password__25518C17]  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__fullName__2645B050]  DEFAULT (NULL) FOR [fullName]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__birthday__2739D489]  DEFAULT (NULL) FOR [birthday]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__gender__282DF8C2]  DEFAULT (NULL) FOR [gender]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__profileIm__29221CFB]  DEFAULT (NULL) FOR [profileImage]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__email__2A164134]  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [movieweb].[watchlists] ADD  DEFAULT (NULL) FOR [watchlistName]
GO
ALTER TABLE [movieweb].[watchlists] ADD  DEFAULT (NULL) FOR [userID]
GO
ALTER TABLE [movieweb].[actors_movies]  WITH CHECK ADD  CONSTRAINT [FK_actors_movies_actors] FOREIGN KEY([actorID])
REFERENCES [movieweb].[actors] ([actorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[actors_movies] CHECK CONSTRAINT [FK_actors_movies_actors]
GO
ALTER TABLE [movieweb].[actors_movies]  WITH CHECK ADD  CONSTRAINT [FK_actors_movies_movie] FOREIGN KEY([movieID])
REFERENCES [movieweb].[movie] ([movieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[actors_movies] CHECK CONSTRAINT [FK_actors_movies_movie]
GO
ALTER TABLE [movieweb].[actors_series]  WITH CHECK ADD  CONSTRAINT [FK_actors_series_actors] FOREIGN KEY([actorID])
REFERENCES [movieweb].[actors] ([actorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[actors_series] CHECK CONSTRAINT [FK_actors_series_actors]
GO
ALTER TABLE [movieweb].[actors_series]  WITH CHECK ADD  CONSTRAINT [FK_actors_series_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[actors_series] CHECK CONSTRAINT [FK_actors_series_series]
GO
ALTER TABLE [movieweb].[episodes]  WITH CHECK ADD  CONSTRAINT [FK_episodes_seasons] FOREIGN KEY([seasonID])
REFERENCES [movieweb].[seasons] ([seasonID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[episodes] CHECK CONSTRAINT [FK_episodes_seasons]
GO
ALTER TABLE [movieweb].[episodes]  WITH CHECK ADD  CONSTRAINT [FK_episodes_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
GO
ALTER TABLE [movieweb].[episodes] CHECK CONSTRAINT [FK_episodes_series]
GO
ALTER TABLE [movieweb].[genres_movies]  WITH CHECK ADD  CONSTRAINT [FK_genres_movies_genre] FOREIGN KEY([genreID])
REFERENCES [movieweb].[genre] ([genreID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_movies] CHECK CONSTRAINT [FK_genres_movies_genre]
GO
ALTER TABLE [movieweb].[genres_movies]  WITH CHECK ADD  CONSTRAINT [FK_genres_movies_movie] FOREIGN KEY([movieID])
REFERENCES [movieweb].[movie] ([movieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_movies] CHECK CONSTRAINT [FK_genres_movies_movie]
GO
ALTER TABLE [movieweb].[genres_series]  WITH CHECK ADD  CONSTRAINT [FK_genres_series_genre] FOREIGN KEY([genreID])
REFERENCES [movieweb].[genre] ([genreID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_series] CHECK CONSTRAINT [FK_genres_series_genre]
GO
ALTER TABLE [movieweb].[genres_series]  WITH CHECK ADD  CONSTRAINT [FK_genres_series_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[genres_series] CHECK CONSTRAINT [FK_genres_series_series]
GO
ALTER TABLE [movieweb].[list_watchlist]  WITH CHECK ADD  CONSTRAINT [FK_list_watchlist_movie] FOREIGN KEY([movieID])
REFERENCES [movieweb].[movie] ([movieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[list_watchlist] CHECK CONSTRAINT [FK_list_watchlist_movie]
GO
ALTER TABLE [movieweb].[list_watchlist]  WITH CHECK ADD  CONSTRAINT [FK_list_watchlist_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[list_watchlist] CHECK CONSTRAINT [FK_list_watchlist_series]
GO
ALTER TABLE [movieweb].[list_watchlist]  WITH CHECK ADD  CONSTRAINT [FK_list_watchlist_watchlists] FOREIGN KEY([watchlistID])
REFERENCES [movieweb].[watchlists] ([watchlistID])
GO
ALTER TABLE [movieweb].[list_watchlist] CHECK CONSTRAINT [FK_list_watchlist_watchlists]
GO
ALTER TABLE [movieweb].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_movie] FOREIGN KEY([movieID])
REFERENCES [movieweb].[movie] ([movieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[reviews] CHECK CONSTRAINT [FK_reviews_movie]
GO
ALTER TABLE [movieweb].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[reviews] CHECK CONSTRAINT [FK_reviews_series]
GO
ALTER TABLE [movieweb].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([userID])
REFERENCES [movieweb].[users] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [movieweb].[seasons]  WITH CHECK ADD  CONSTRAINT [FK_seasons_series] FOREIGN KEY([serieID])
REFERENCES [movieweb].[series] ([serieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [movieweb].[seasons] CHECK CONSTRAINT [FK_seasons_series]
GO
ALTER TABLE [movieweb].[watchlists]  WITH CHECK ADD  CONSTRAINT [FK_watchlists_users] FOREIGN KEY([userID])
REFERENCES [movieweb].[users] ([userID])
GO
ALTER TABLE [movieweb].[watchlists] CHECK CONSTRAINT [FK_watchlists_users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.actors' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'actors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.actors_movies' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'actors_movies'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.actors_series' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'actors_series'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.episodes' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'episodes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.genre' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'genre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.genres_movies' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'genres_movies'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.genres_series' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'genres_series'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.list_watchlist' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'list_watchlist'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.movie' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'movie'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.reviews' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'reviews'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.seasons' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'seasons'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.series' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'series'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.users' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.watchlists' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'watchlists'
GO
USE [master]
GO
