USE [movieweb]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_SSMA_SOURCE' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'users'
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__email__2A164134]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__profileIm__29221CFB]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__gender__282DF8C2]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__birthday__2739D489]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__fullName__2645B050]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__password__25518C17]
GO
ALTER TABLE [movieweb].[users] DROP CONSTRAINT [DF__users__userName__245D67DE]
GO
/****** Object:  Table [movieweb].[users]    Script Date: 5/15/2024 8:01:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[movieweb].[users]') AND type in (N'U'))
DROP TABLE [movieweb].[users]
GO
/****** Object:  Table [movieweb].[users]    Script Date: 5/15/2024 8:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[users](
	[userID] [int] NOT NULL,
	[userName] [varchar](max) NULL,
	[password] [varbinary](max) NOT NULL,
	[fullName] [nvarchar](45) NULL,
	[birthday] [datetime2](0) NULL,
	[gender] [int] NULL,
	[profileImage] [nvarchar](45) NULL,
	[email] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_users_userID] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__userName__245D67DE]  DEFAULT (NULL) FOR [userName]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__password__25518C17]  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__fullName__2645B050]  DEFAULT (NULL) FOR [fullName]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__birthday__2739D489]  DEFAULT (NULL) FOR [birthday]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__gender__282DF8C2]  DEFAULT (NULL) FOR [gender]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__profileIm__29221CFB]  DEFAULT (NULL) FOR [profileImage]
GO
ALTER TABLE [movieweb].[users] ADD  CONSTRAINT [DF__users__email__2A164134]  DEFAULT (NULL) FOR [email]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.users' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'users'
GO
