USE [movieweb]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_SSMA_SOURCE' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'movie'
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__genreID__03F0984C]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__adult__02FC7413]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__tags__02084FDA]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__originalL__01142BA1]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__runtime__00200768]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__trailer__7F2BE32F]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__backdropP__7E37BEF6]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__posterPat__7D439ABD]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__revenue__7C4F7684]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__budget__7B5B524B]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__voteCount__7A672E12]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__voteAvera__797309D9]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__popularit__787EE5A0]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__homepage__778AC167]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__tagline__76969D2E]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__status__75A278F5]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__releaseDa__74AE54BC]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__originalM__73BA3083]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF__movie__movieName__72C60C4A]
GO
ALTER TABLE [movieweb].[movie] DROP CONSTRAINT [DF_movie_movieID]
GO
/****** Object:  Table [movieweb].[movie]    Script Date: 5/15/2024 8:01:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[movieweb].[movie]') AND type in (N'U'))
DROP TABLE [movieweb].[movie]
GO
/****** Object:  Table [movieweb].[movie]    Script Date: 5/15/2024 8:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [movieweb].[movie](
	[movieID] [int] NOT NULL,
	[movieName] [nvarchar](45) NULL,
	[originalMovieName] [nvarchar](45) NULL,
	[releaseDate] [nvarchar](45) NULL,
	[status] [nvarchar](45) NULL,
	[tagline] [nvarchar](100) NULL,
	[overview] [nvarchar](max) NULL,
	[homepage] [nvarchar](100) NULL,
	[popularity] [nvarchar](45) NULL,
	[voteAverage] [real] NULL,
	[voteCount] [int] NULL,
	[budget] [int] NULL,
	[revenue] [int] NULL,
	[posterPath] [nvarchar](45) NULL,
	[backdropPath] [nvarchar](45) NULL,
	[trailer] [nvarchar](45) NULL,
	[runtime] [int] NULL,
	[originalLanguage] [nvarchar](45) NULL,
	[tags] [nvarchar](45) NULL,
	[adult] [nvarchar](45) NULL,
	[genreID] [int] NULL,
 CONSTRAINT [PK_movie_movieID] PRIMARY KEY CLUSTERED 
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF_movie_movieID]  DEFAULT ((0)) FOR [movieID]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__movieName__72C60C4A]  DEFAULT (NULL) FOR [movieName]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__originalM__73BA3083]  DEFAULT (NULL) FOR [originalMovieName]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__releaseDa__74AE54BC]  DEFAULT (NULL) FOR [releaseDate]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__status__75A278F5]  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__tagline__76969D2E]  DEFAULT (NULL) FOR [tagline]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__homepage__778AC167]  DEFAULT (NULL) FOR [homepage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__popularit__787EE5A0]  DEFAULT (NULL) FOR [popularity]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__voteAvera__797309D9]  DEFAULT (NULL) FOR [voteAverage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__voteCount__7A672E12]  DEFAULT (NULL) FOR [voteCount]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__budget__7B5B524B]  DEFAULT (NULL) FOR [budget]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__revenue__7C4F7684]  DEFAULT (NULL) FOR [revenue]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__posterPat__7D439ABD]  DEFAULT (NULL) FOR [posterPath]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__backdropP__7E37BEF6]  DEFAULT (NULL) FOR [backdropPath]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__trailer__7F2BE32F]  DEFAULT (NULL) FOR [trailer]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__runtime__00200768]  DEFAULT (NULL) FOR [runtime]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__originalL__01142BA1]  DEFAULT (NULL) FOR [originalLanguage]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__tags__02084FDA]  DEFAULT (NULL) FOR [tags]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__adult__02FC7413]  DEFAULT (NULL) FOR [adult]
GO
ALTER TABLE [movieweb].[movie] ADD  CONSTRAINT [DF__movie__genreID__03F0984C]  DEFAULT (NULL) FOR [genreID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'movieweb.movie' , @level0type=N'SCHEMA',@level0name=N'movieweb', @level1type=N'TABLE',@level1name=N'movie'
GO
